*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    background-size: cover;
    background-color: #D8DDE5;
}
body{
    font-family: IRANSans, Tahoma, sans-serif;
}
nav{
    background: linear-gradient(45deg,#3297A9,#D4E6F0);
    height: 80px;
    width: 100%;
}
.back_none{
    background: none;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 17pt;
    padding: 7px 13px;
    border-radius: 3px;
    color: black;
}
a:hover{
    background: #00A3CF;
    transition: .5s;
    color: white;
    font-family: IRANSans Black, Tahoma, sans-serif;
}
a#exit:hover{
    background: red;
    transition: .5s;
    color: white;
    font-family: IRANSans Black, Tahoma, sans-serif;
}
@media (max-width: 952px){
    a:hover{
        background: none;
        color: #26444E;
    }
}
.center_side{
    margin: auto;
    padding: 20px;
    height: 80vh;
    width: 40vw;
    display: block;
    text-align: right;
    font-family: IRANSans Black, Tahoma, sans-serif;
    color: #26444E;
    align-content: center;
}
.tab{
    width: 80vw;
    text-align: center;
    color: black;
}
.input_form{
    display: grid;
    grid-template: repeat(2,3vw)/repeat(2,50vh) ;
    border: 3px solid black;
}
.container{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.cen_container{
    margin: auto;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    vertical-align: middle;
}

.center_side{
    padding: 20px;
    height: 80vh;
    font-family: IRANSans Black, Tahoma, sans-serif;
    color: #26444E;
}
form {
    flex-direction: column;
}
label{
    display: block;
}
button{
    font-family: IRANSans, Tahoma, sans-serif; 
    margin: 8px;
    background-color: #26444E;
    border-color: white;
}