<!DOCTYPE html>
{% load static %}
<html lang="fa-IR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css framework/milligram.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles_Registry_man_page.css' %}">
</head>

<body>
    <nav>
        <ul dir="rtl" class="back_none">
            <li class="back_none">
                <a class="back_none" href="http://127.0.0.1:8000/Driving_school/registry_man/">
                    تعریف هنرجو
                </a>
            </li>
            <li class="back_none">
                <a class="back_none" href="http://127.0.0.1:8000/Driving_school/registry_man/Documents/">
                    تعیین وضعیت مدارک هنرجو
                </a>
            </li>
            <li class="back_none">
                <a class="back_none" href="http://127.0.0.1:8000/Driving_school/registry_man/Delete/">
                    حذف هنرجو
                </a>
            </li>
            <li class="back_none">
                <a class="back_none" id="exit" href="http://127.0.0.1:8000/logout/">
                    خروج
                </a>
            </li>
        </ul>
    </nav>
    <div class="container">
        <div class="cen_container">
            <div class="center_side">
                <form action="http://127.0.0.1:8000/Driving_school/registry_man/" method="post">
                    <label for="first_name" >: نام</label>
                    <br>
                    <input id="first_name" type="text" name="first_name">
                    <br>
                    <label for="family_name" >: نام خانوادگی</label>
                    <br>
                    <input id="family_name" type="text" name="family_name">
                    <br>
                    <label for="National_ID_Card_Number">:کدملی</label>
                    <br>
                    <input id="National_ID_Card_Number" type="number" name="National_ID">
                    <br>
                    <label for="father_name">: نام پدر</label>
                    <br>
                    <input id="father_name" type="text" name="father_name">
                    <br>
                    <label for="birthday">: تاریخ تولد</label>
                    <br>
                    <input id="birthday" type="date" name="birthday">
                    <br>
                    <label for="Address">: ادرس</label>
                    <br>
                    <input id="Address" type="text" name="Address">
                    <br>
                    <label for="literate" style="margin-bottom: 1% ;">: سطح سواد</label>
                    <br>
                    <select id="literate" name="literate">
                        <option value="L">دارای توانایی خواندن و نوشتن</option>
                        <option value="I">عدم توانایی در توانایی خواندن و نوشتی</option>
                    </select>
                    <br>
                    <label for="zipcode">:کدپستی</label>
                    <br>
                    <input id="zipcode" type="number" name="zipcode">
                    <br>
                    <label for="Password">: رمز عبور</label>
                    <br>
                    <input id="Password" type="password" name="password">
                    <div class="row" style="padding-bottom: 5% ;">
                        <button type="submit" class="column column-50 column-offset-25">ثبت اطلاعات </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    </div>
</body>

</html>